# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url
# Install using:
# pip-sync

grpcio-tools~=1.56
grpc-interceptor~=0.15.3
locust~=2.16
netCDF4~=1.6
shapely~=2.0
pandas~=2.1
psycopg2-binary~=2.9
xarray~=2023.12
