repos:
  - repo: local
    hooks:
      # go-fmt ~ Enforces Go standard formatting (whitespace, indentation, et cetera)
      - id: go-fmt
        name: go-fmt
        description: "Enforces Go standard formatting (whitespace, indentation, et cetera)."
        entry: ./ci/go/go-fmt.sh
        language: script
        pass_filenames: false
  #      # go-vet ~ Finds subtle issues in Go where your code may not work as intended
  #      - id: go-vet
  #        name: go-vet
  #        description: "Finds subtle issues in Go where your code may not work as intended."
  #        entry: ./ci/go/go-vet.sh
  #        language: script
  #        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v18.1.2"
    hooks:
      - id: clang-format
        entry: clang-format -i
        args: [--style=llvm]
        types_or: [c++]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Formatting
      - id: end-of-file-fixer # Makes sure files end in a newline and only a newline.
      - id: pretty-format-json
        args: ["--autofix", "--indent=4", "--no-ensure-ascii", "--no-sort-keys"] # Formats and sorts your JSON files.
        exclude: "ingest\/test\/test_data\/bufr\/.*"
      - id: trailing-whitespace # Trims trailing whitespace.
      # Checks
      - id: check-json # Attempts to load all json files to verify syntax.
        exclude: "ingest\/test\/test_data\/bufr\/.*"
      - id: check-merge-conflict # Check for files that contain merge conflict strings.
      - id: check-shebang-scripts-are-executable # Checks that scripts with shebangs are executable.
      - id: check-yaml
        # only checks syntax not load the yaml:
        # https://stackoverflow.com/questions/59413979/how-exclude-ref-tag-from-check-yaml-git-hook
        args: ["--unsafe"] # Parse the yaml files for syntax.

  # TODO: Re-enable when the issue https://github.com/psf/black/issues/4175 is solved for Black.
  ## reorder-python-imports ~ sort python imports
  #- repo: https://github.com/asottile/reorder_python_imports
  #  rev: v3.12.0
  #  hooks:
  #    - id: reorder-python-imports

  # black ~ Formats Python code
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=120"]

  # flake8 ~ Enforces the Python PEP8 style guide
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--ignore=W503", "--max-line-length=120"]

  # hadolint ~ Docker linter
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: [
            "--ignore=DL3008", # Pin versions in apt get install.
          ]

  # ShellCheck ~ Gives warnings and suggestions for bash/sh shell scripts
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
