numpy ~= 1.25.2
paho-mqtt ~= 1.6.1
gunicorn~=22.0.0
jsonschema ~= 4.19.0
protobuf ~= 4.25.3
grpcio==1.62.1
grpcio-tools==1.62.1
fastapi == 0.108.0
uvicorn==0.25.0
python-multipart~=0.0.9
requests == 2.31.0
cfunits~=3.3.7
