# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url
# Install using:
# pip-sync

grpcio-tools~=1.62
brotli-asgi~=1.4
fastapi~=0.110.2
gunicorn~=22.0
uvicorn[standard]~=0.29.0
covjson-pydantic~=0.3.0
edr-pydantic~=0.4.0
shapely~=2.0
geojson-pydantic~=1.0
aiocached~=0.3.0
jinja2~=3.1
isodate~=0.6.1
